.content{
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    background-image: linear-gradient(-90deg,red,orange);
    /* background-image: url('https://images.unsplash.com/photo-1508921912186-1d1a45ebb3c1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG98ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); */
}